<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Manager Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        function closeAlert() {
            document.querySelector('.alert-bar').style.display = 'none';
        }
    </script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
    </style>
</head>
<body>
{% for message in messages  %}

   <div class="alert-bar">
    <span class="alert-message">{{message}}</span>
    <button class="close-btn" onclick="closeAlert()">x</button>
</div>
{% endfor %}
    <header class="header">

        <div class="logo">
            <img src="{% static 'images/flinder-logo_white.png' %}" alt="Flinders University Logo" style="height: 50px;">
        </div>

        <div class="title">
            <p class="headerTitle">Flinders Chemical Management System</p>
        </div>

        {% if user.is_authenticated %}
        <div class="welcome-message">
            Hi, <span id="username">{{request.user}}</span>
        </div>
        <div class="sign-out">
            <a href="/logout/" id="sign-out-link">Sign Out</a>
        </div>
        {% endif %}
    </header>

    <div class="container">
        <div class="sidebar">
            <button onclick="showSection('main')">Main</button>
            <button onclick="showSection('confirmed-orders')">Confirmed Orders</button>
            <button onclick="showSection('received-orders')">Received Orders</button>
            <button onclick="showSection('stored-orders')">Stored Orders</button>
            <button onclick="showSection('delivered-orders')">Delivered Orders</button>
            <button onclick="showSection('closed-orders')">Closed Orders</button>
        </div>

        <div class="content">
            <div id="main" class="content-section">
                <h2>Recent Orders</h2>
                <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in recent_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>

            <div id="confirmed-orders" class="content-section" style="display:none;">
                <h2>Confirmed Orders</h2>
                        <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in confirmed_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>

            <div id="received-orders" class="content-section" style="display:none;">
                <h2>Received Orders</h2>
                        <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in received_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>

            <div id="stored-orders" class="content-section" style="display:none;">
                <h2>Stored Orders</h2>
                        <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in stored_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>

            <div id="delivered-orders" class="content-section" style="display:none;">
                <h2>Delivered Orders</h2>
                        <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in delivered_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>

            <div id="closed-orders" class="content-section" style="display:none;">
                <h2>Closed Orders</h2>
                        <table class="customers" style="border-radius:20px;">
                            <tr>
                                <th>Order Id:</th>
                                <th>Exp. Name</th>
                                <th>Lab</th>
                                <th>Date</th>
                                <th>status</th>
                            </tr>
                    {% for item in closed_orders %}
                            <tr>
                                <td><a class="orderidLink" href="/orderView/{{item.order_id}}">{{item.order_id}}</a></td>
                                <td>{{item.exp_name}}</td>
                                <td>{{item.lab_id}}</td>
                                <td>{{item.order_date}}</td>
                                <td>{{item.order_status}}</td>
                            </tr>
                    {% endfor %}
                        </table>
            </div>
        </div>
    </div>


</body>
</html>